@import './variables';

*,
*:before,
*:after {
  box-sizing: border-box;
}

*:first-child {
  margin-top: 0;
}

*:last-child {
  margin-bottom: 0;
}

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

:root {
  font-size: 16px;

  @media (min-width: 40rem) {
    font-size: 20px;
  }

  @media (min-width: 80rem) {
    font-size: 24px;
  }
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: system-ui;
  color: var(--color);
  background: var(--background);
}
