:root {
  --border-radius: 0.25em;

  --hue: 240;
  --saturation: 30%;
  --lightness: 20%;

  --color: hsl(var(--hue), var(--saturation), var(--lightness));
  --accent: hsl(var(--hue), 100%, 50%);
  --background: hsl(var(--hue), var(--saturation), 95%);
}
