:root {
  --border-radius: 0.25em;

  --hue: 60;
  --saturation: 100%;
  --lightness: 70%;

  --color: hsl(0, 0%, 0%);
  --accent: hsl(var(--hue), 100%, 50%);
  --background: hsl(var(--hue), var(--saturation), var(--lightness));
}
